ENV_MODE=development

PASSWORD_SALT="aaaaa"
SESSION_COOKIE_NAME="session_id"
SESSION_EXPIRE=3600

LINKER_API_KEY="aaaa"
LINKER_SITE_URL="http://localhost:8000"

WD_AUTH_API_URL="https://wd-auth.scpwiki.jp/v1"
WD_AUTH_API_CLIENT_ID="111111"
WD_AUTH_API_CLIENT_SECRET="aaaaa"
